@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

/*Reset CSS Starts*/
* { margin: 0; padding: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); border: none; -webkit-border-radius: 0; border-radius: 0; outline: none;  -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.clear { font-size: 1%; height: 0; line-height: 0; width: 0; float: none; clear: both; }
* html .clearfix { height: 1%; }
input { outline: none }
ul { list-style: none; }
li { list-style: none }
:focus { outline: 0; }
img,
img a { border: 0; outline: 0; }
a { text-decoration: none; outline: none; color: #3c88c4 }
a:hover{text-decoration: none;outline: none; }
img { border: none; }
html { -webkit-text-size-adjust: 100%; }
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: normal; margin: 0; }
h1,
h2,
h3,
h4,
h5,
table,
table tr td,
table tr th { border: none }
textarea { resize: none; border: none; outline: none; background: none }
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus{
    box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance:textfield;
}

  ::placeholder,
::-webkit-input-placeholder {
    opacity: 1; 
  }  

  p{
    margin: 0;
  }
  figure{
    margin: 0;
  }
  ul{
    padding: 0;
    margin: 0;
  }
  .product-tablist::-webkit-scrollbar,
  .deals-tablist::-webkit-scrollbar {
    display: none; 
  }
  .accordion-button:focus{
    outline: none;
    box-shadow: none;
  }
/*Reset CSS end*/


html { font-size: 62.5%; font-weight: normal;}
body { padding: 0; margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
html,
body{ height: 100%;  width: 100%;}


main{ width: 100%; padding:60px 0}
.container{ max-width: 600px; width: 100%; padding: 0 30px; margin: 0 auto;}
img { max-width: 100%;}
h1{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.form-control{
  padding: 16px;
  border: solid 1px #ccc;
  border-radius: 16px;
  width: 100%;
  font-size: 16px;
}

textarea.form-control{
  height: 160px;
}

.primary,
    .secondary{
        width: 100px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
    }
    .primary{
        background: green;
        color: #fff;
        margin-left: 20px;
    }
    .delete{
      background: red;
  }